		.header {
			position: fixed;
			left: 0;
			top: 0;
			height: 110px;
		}
		.logoholder{
			height: 40px;
			background-color: #5b7bac;
		}
		.menubtnholder{
			height: 70px;
			background-color: #6ee9fb;
		}
		.fonex{
			height: 760px;
			background-image: url(img/fon3.png);
			background-size: cover ;
			background-position: center center;
		}
		.menu{
			height: 725px;
			background-image: url(img/menu.png);
			background-size: cover ;
			background-position: center center;
			display: none;	
		}
		.menuotherhalf{
			display: none;			
			height: 725px;
		}
		.menuholder{
			height: 725px;
		}