
		.header {
			position: fixed;
			left: 0;
			top: 0;
			height: 70px;
			background-color: #205E68;
		}
		.menu{
			position: fixed;
			left: 0;
			top: 0;
			height: 840px;
			width: 200px;
			background-image: url(img/menu_bg.svg);
			display: none;
		}
		.logindiv{
			height: 640px;
			background-image: url(img/login_bg.svg);
			width: 360px;

		}
		.registerdivteacher{
			height: 640px;
			background-image: url(img/register_bg.svg);
			width: 360px;
			color: #47848C;

		}
		.registerdivparent{
			height: 640px;
			background-image: url(img/register_bg.svg);
			width: 360px;
			color: #47848C;

		}
		.regchoose{
			height: 640px;
			width: 360px;
			background-image: url(img/register_bg.svg);
			color: #47848C;
		}
		.menubtnopen{
			display: none;
		}
		.menubtnclosed{
			display: block;
		}
		.menubtn{
			background-image: url(img/btn_menu.svg);
			background-size: cover ;
			background-position: center center;
			width: 200px;
			height: 45px;

		}
		.main{
			height:2504px; 
			width: 360px;
			background-image: url(img/main.svg);
		}
		.timetable{
			height:958px; 
			width: 360px;
			background-image: url(img/timetable.svg);
			display: none;
		}
		.eatery{
			height:1010px; 
			width: 360px;
			background-image: url(img/eatery.svg);
			display: none;
		}
		.navigation{
			height:640px; 
			width: 360px;
			background-image: url(img/navigation.svg);
			display: none;
		}
		.events{
			height:1086px; 
			width: 360px;
			background-image: url(img/events.svg);
			display: none;
		}